<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EmployeeManagement</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControllerEmployee</display-name>
    <servlet-name>AddEmployeeController</servlet-name>
    <servlet-class>com.project.controller.AddEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeController</servlet-name>
    <url-pattern>/AddEmployeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerProject</display-name>
    <servlet-name>AddProjectController</servlet-name>
    <servlet-class>com.project.controller.AddProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProjectController</servlet-name>
    <url-pattern>/AddProjectController</url-pattern>
  </servlet-mapping>

   <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>com.project.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>




</web-app>